<configuration>
    <property name="LOG_DIR" value="Options/Log"/>
    <property name="LOG_FILE_SESSION" value="sessionLogFile"/>

    <include resource="devLibLogbackConfig.xml"/>

    <appender name="FILE_SESSION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.dir}/${LOG_DIR}/Session Logs/${LOG_FILE_SESSION}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${user.dir}/${LOG_DIR}/Session Logs/${LOG_FILE_SESSION}.%d{yyyy-MM-dd}-%i.log
            </fileNamePattern>
            <!-- keep 60 days' worth of history capped at 5GB total size -->
            <totalSizeCap>10 GB</totalSizeCap>
            <maxFileSize>1 GB</maxFileSize>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>


    <logger name="DiscordLogger" level="info">
        <appender-ref ref="FILE_SESSION"/>
    </logger>
</configuration>